<style>
    #solveTitle {
        font-weight: bold;
    }

    #tables-body {
        background-color: #222;
    }    

    #tables-body h2,
    #tables-body h3,
    #tables-body h4 {
        color: #0f0;
    }

    .table-wrapper {
        width: auto;
        height: auto;
        overflow: auto;
    }

    td {
        text-align: center;
        color: #f8f9fa;
    }

    th {
        text-align: center;
        color: #0f0;
    }

    th.rowName {
        background-color: #111;
        color: #0f0;
    }

    th.pivotRowName {
        color: #111;
    }

    tr {
        background-color: #333;
    }

    thead tr {
        background-color: #111;
    }

    #tables-body li,
    #tables-body #objFunTitle {
        color: #f8f9fa;
    }

    #tables-body .pivotCol {
        background-color: #0f0;
        font-weight: bold;
        color: #000;
    }

    #tables-body .pivotRow {
        background-color: rgb(19, 128, 19);
        font-weight: bold;
        color: #000;
    }    

    #tables-body .pivotRow td {
        color: #000;
    }

    #tables-body td.pivotNum{
        background-color: #222;
        font-weight: bold;
        color: #0f0;
    }

    #lastTable th.RColName {
        background-color: #f8f9fa;
        font-weight: bold;
        color: #000;
    }

    #lastTable .RColValues {
        background-color: #f8f9fa;
        font-weight: bold;
        color: #000;
    }

    button.btn.btnSolve {
        width: 10rem;
        height: 4rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        background-color: #0f0;
        font-size: 1.25rem;
        font-weight: bold;
        color: #000;
    }

    button.btn.btnSolve:hover {
        background-color: rgb(19, 128, 19);
        font-weight: bold;
        color: #f8f9fa;
    }
</style>

<div class="container">
    {% load customFilters %}
    <div class="card">
        <div class="card-body pt-5 pb-5" id="tables-body">
            <div class="d-flex justify-content-center">
                {% include 'maxMinApp/messages.html' %}
            </div>
            <div class="mb-3">
                {% if operation == 'max' %}
                <h2 class="mb-3 d-flex justify-content-center" id="solveTitle">Maximizar</h2>
                {% else %}
                {% if operation == 'min' %}
                <h2 class="mb-3 d-flex justify-content-center" id="solveTitle">Minimizar</h2>
                {% endif %}
                {% endif %}
                <h2 class="mb-3 d-flex justify-content-center">Función Objetivo:</h2>
                <h3 class="mb-3 d-flex justify-content-center" id="objFunTitle"><strong>Z = {{ model.objFun }}</strong>
                </h3>
                <h2>Restricciones:</h2>
                <ol>
                    {% for const in model.constraints %}
                    <li><strong>R{{forloop.counter}}: {{ const }}</strong></li>
                    {% endfor %}
                </ol>
                <h3>Tabla Inicial</h3>
                <div class="table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ firstTable.tableName }}</th>
                                {% for colName in firstTable.colsNames %}
                                <th scope="col">{{ colName }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for row in firstTable.table %}
                            <tr>
                                <th scope="row" class="rowName">{{ row }}</th>
                                {% for value in firstTable.table|get_dict_value:row %}
                                <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h3>Método Simplex</h3>
                {% for tbl in allTables %}
                <h4>Tabla {{tbl.tableName}}</h4>
                <div class="mb-3">
                    <div class="table-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">{{ tbl.tableName }}</th>
                                    {% for colName in tbl.colsNames %}
                                    {% if forloop.counter0 == tbl.pivotCol.colNum%}
                                    <th scope="col" class="pivotCol">{{ colName }}</th>
                                    {% else %}
                                    <th scope="col">{{ colName }}</th>
                                    {% endif%}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for row in tbl.table %}
                                {% if forloop.counter0 == tbl.pivotRow.rowNum%}
                                <tr class="pivotRow">
                                    <th scope="row" class="pivotRowName">{{ row }}</th>
                                    {% for value in tbl.table|get_dict_value:row %}
                                    {% if forloop.counter0 == tbl.pivotCol.colNum%}
                                    <td class="pivotNum">{{ value }}</td>
                                    {% else %}
                                    <td>{{ value }}</td>
                                    {% endif%}
                                    {% endfor %}
                                </tr>
                                {% else %}
                                <tr>
                                    <th scope="row" class="rowName">{{ row }}</th>
                                    {% for value in tbl.table|get_dict_value:row %}
                                    {% if forloop.counter0 == tbl.pivotCol.colNum%}
                                    <td class="pivotCol">{{ value }}</td>
                                    {% else %}
                                    <td>{{ value }}</td>
                                    {% endif%}
                                    {% endfor %}
                                </tr>
                                {% endif%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul>
                    <li><strong>Columna pivote: </strong>{{tbl.pivotCol.colName}}</li>
                    <li><strong>Fila pivote: </strong>{{tbl.pivotRow.rowName}}</li>
                    <li><strong>Numero pivote: </strong>{{tbl.pivotValue}}</li>
                    <li><strong>Fila entrante para siguiente tabla: </strong>{{tbl.enteringRow.rowName}} =
                        {{tbl.enteringRow.entireRow}}</li>
                </ul>
                {% endfor %}

                {% if solved %}
                <h3>Tabla Final</h3>
                <div class="mb-3">
                    <div class="table-wrapper">
                        <table class="table" id="lastTable">
                            <thead>
                                <tr>
                                    <th scope="col">{{ lastTable.tableName }}</th>
                                    {% for colName in lastTable.colsNames %}
                                    {% if forloop.last %}
                                    <th scope="col" class="RColName">{{ colName }}</th>
                                    {% else %}
                                    <th scope="col">{{ colName }}</th>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for row in lastTable.table %}
                                <tr>
                                    <th scope="row" class="rowName">{{ row }}</th>
                                    {% for value in lastTable.table|get_dict_value:row %}
                                    {% if forloop.last %}
                                    <td class="RColValues">{{ value }}</td>
                                    {% else %}
                                    <td>{{ value }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <h3 class="mb-3 d-flex justify-content-center">Solución:</h3>
                {% for sol in solution %}
                <h4 class="mb-3 d-flex justify-content-center">
                    <strong>{{sol}} = {{solution|get_dict_value:sol}}</strong>
                </h4>
                {% endfor%}

                <form action="{% url 'saveResult' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="objFunction" value="{{ model.objFun }}">
                    {% if operation == 'max' %}
                    <input type="hidden" name="operation" value="Maximizar">
                    {% else %}
                    {% if operation == 'min' %}
                    <input type="hidden" name="operation" value="Minimizar">
                    {% endif %}
                    {% endif %}
                    <input type="hidden" name="constraints" value="{{ model.constraints }}">
                    <input type="hidden" name="solution" value="{{ solution }}">
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btnSolve">GUARDAR RESULTADOS</button>
                    </div>
                </form>

                {% endif %}
            </div>
        </div>
    </div>
</div>