<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    <title>
        {% block title %}
        Calculadora Simplex
        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-time">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-time">
                    <a class="nav-link" href="/">Resultados</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <span class="navbar-text">Hola {{user.username}}!</span>
                <li class="nav-time">
                    <a class="nav-link" href="/users/logout">Cerrar Sesión</a>
                </li>
                {% else %}
                <li class="nav-time">
                    <a class="nav-link" href="/users/login">Iniciar Sesión</a>
                </li>
                <li class="nav-time">
                    <a class="nav-link" href="/users/register">Registrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% if user.is_authenticated %}
        <div class="col-6 col-md-8 mx-auto">
            <form method="post">
                {% csrf_token %}
                <h1 class="row mt-3 mb-3 justify-content-center">Calculadora Simplex</h1>
                <select class="form-select mb-3" aria-label="Default select example" id="operation" name="operation">
                    <option selected value="max">Maximizar</option>
                    <option value="min">Minimizar</option>
                </select>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="restrictions" class="form-label">Numero de restricciones</label>
                        <input type="number" class="form-control" id="restrictions" name="restrictions" required min="2"
                            placeholder="2">
                    </div>
                    <div class="col-6">
                        <label for="variables" class="form-label">Numero de variables</label>
                        <input type="number" class="form-control" id="variables" name="variables" required min="2"
                            placeholder="2">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" id="generateModelBtn"
                        name="generateModelBtn">Generar</button>
                </div>
            </form>
        </div>
        {% endif %}
        {% block content%}

        {% endblock%}
    </div>
</body>

</html>