<style>
    #inputModelTitle {
        font-weight: bold;
        color: #0f0;
    }

    select.form-select.resEqSign {
        border-color: #0f0;
        background-color: #0f0;
        font-size: 1.25rem;
        font-weight: bold;
        color: #000;
    }

    button.btn.btnInputModel {
        width: 8rem;
        height: 3rem;
        background-color: #0f0;
        font-size: 1.25rem;
        font-weight: bold;
        color: #000;
    }

    button.btn.btnInputModel:hover {
        background-color: rgb(19, 128, 19);
        font-weight: bold;
        color: #f8f9fa;
    }

    #btnNew {
        width: 8rem;
        height: 3rem;
        padding: 0.5rem 2.25rem 0.5rem 2.25rem;
        text-decoration: none;
        justify-content: center;
        display: block;
        color: #222;
        background: #0f0;
        font-size: 1.25rem;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #btnNew:hover {
        background: rgb(19, 128, 19);
        color: #f8f9fa;
    }
</style>

<div class="card">
    <div class="card-body pt-5 pb-5">
        <div class="d-flex justify-content-center">
            <form action="{% url 'model' %}" method="get">
                <input type="hidden" name="getType" value="results">
                <input type="hidden" class="form-control" name="variables" value="{{ variables.value }}">
                <input type="hidden" class="form-control" name="restrictions" value="{{ restrictions.value }}">
                <input type="hidden" class="form-control" name="operation" value="{{ operation }}">
                <div class="row mb-3 d-flex justify-content-center" name="objFunDefinition">
                    {% if operation == 'max' %}
                    <h2 class="d-flex justify-content-center" id="inputModelTitle">Maximizar</h2>
                    <h3 class="d-flex justify-content-center">Función Objetivo Z</h3>
                    {% else %}
                    <h2 class="d-flex justify-content-center" id="inputModelTitle">Minimizar</h2>
                    <h3 class="d-flex justify-content-center">Función Objetivo Z</h3>
                    {% endif%}
                    {% for var in variables.range %}
                    {% if var == variables.value %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                        <input type="number" class="form-control" placeholder="0" value="0" name="funCoeff{{ var }}">
                    </div>
                    <div class="col-2">
                        <label class="form-label"><strong>X{{var}}</strong></label>
                    </div>
                    {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                        <input type="number" class="form-control" placeholder="0" value="0" name="funCoeff{{ var }}">
                    </div>
                    <div class="col-2">
                        <label class="form-label"><strong>X{{var}} +</strong></label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <h3 class="d-flex justify-content-center">Restricciones</h3>
                {% for cons in restrictions.range %}
                <div class="row mb-3 d-flex justify-content-center" name="constDefinition">
                    <h4>Restricción #{{cons}}:</h4>
                    {% for var in variables.range %}
                    {% if var == variables.value %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                        <input type="number" class="form-control" placeholder="0" value="0"
                            name="constCoeff({{ cons }},{{ var }})">
                    </div>
                    <div class="col-2">
                        <label class="form-label"><strong>X{{var}}</strong></label>
                    </div>
                    {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                        <input type="number" class="form-control" placeholder="0" value="0"
                            name="constCoeff({{ cons }},{{ var }})">
                    </div>
                    <div class="col-2">
                        <label class="form-label"><strong>X{{var}} +</strong></label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                        <select class="form-select resEqSign" aria-label="Default select example"
                            name="constSelectEq{{ cons }}">
                            <option selected value="<=">&le;</option>
                            <option value=">=">&ge;</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                        <input type="number" class="col-sm form-control" required placeholder="0" value="0"
                            name="constEqTo{{ cons }}">
                    </div>
                </div>
                {% endfor %}

                <div class="mt-4 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 col-sm-6 d-flex justify-content-center">
                            <button type="submit" class="btn btnInputModel" id="resolveModelBtn"
                                name="resolveModelBtn">RESOLVER</button>
                        </div>
                        <div class="col-12 col-sm-6 d-flex justify-content-center">
                            <a href="/model" id="btnNew">NUEVO</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>